/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
}

.nav-logo {
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  .line.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .line.active:nth-child(2) {
    opacity: 0;
  }

  .line.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
